@import "tailwindcss";

.backdrop-blur-md {
  backdrop-filter: saturate(180%) blur(20px);
}

.animate-fadein {
  animation: fadein 0.8s ease forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
